.goog-te-combo {
    border-radius: 5px;
   
    display: flex;
    padding: 3px;
    background: #f9552c;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border: 3px solid #f9552c;
    overflow-y: auto;
    scrollbar-width: 50px; 
    scrollbar-color: white #fff;
  }

 
  .goog-te-combo::-webkit-scrollbar {
    width: 18px; 
  }

  
  .goog-te-combo::-webkit-scrollbar-thumb {
    background-color: #fff; 
    border-radius: 5px; 
  }

  .VIpgJd-ZVi9od-ORHb{
    background: #333 !important;
  }
  .VIpgJd-ZVi9od-l4eHX-hSRGPd{
    filter: brightness(0) invert(1);
    
  }
  .goog-te-gadget {
    color: white;
    ;
    
  }

  .goog-te-combo {
    border-radius: 5px;
   
    display: flex;
    padding: 3px;
    background: #f9552c;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border: 3px solid #f9552c;
    overflow-y: auto;
    scrollbar-width: 50px; 
    scrollbar-color: white #fff;
  }

 
  .goog-te-combo::-webkit-scrollbar {
    width: 18px; 
  }

  
  .goog-te-combo::-webkit-scrollbar-thumb {
    background-color: #fff; 
    border-radius: 5px; 
  }

  .VIpgJd-ZVi9od-ORHb{
    background: #333 !important;
  }
  .VIpgJd-ZVi9od-l4eHX-hSRGPd{
    filter: brightness(0) invert(1);
    
  }
  .goog-te-gadget {
    color: white;
    ;
    
  }